/** CSS STYLE **/

body {
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

input {
  font-size: 16px;
  padding: 4px;
  width: 100%;
}

.container,
.result {
  width: 50%;
  min-width: 300px;
}

.row {
  margin-top: 1em;
}

.row label {
  display: block;
  min-width: 10em;
}
